html {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: sans-serif;
}


#page {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index:1;
    background: #FFF;
    width:990px;
    box-shadow: 0 0 40px #000;
}

h1, p, form {
    margin: 0;
    padding: 1em;
}

.publicidade {
    /*border: 1px solid #CCC;*/
}

#publicidade-728x90 {
    margin: 0 auto;
    position: relative;
}

.publicidade-dart-728x90 {
    top: 0;
    left: 0;
    position:absolute;
    /*z-index: 999999999999;*/
}