html {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

body {
    margin: 0 auto;
    padding: 2em 0;
    width: 990px;
    background: #FFF;
    font-family: sans-serif;
}

#container {
    margin: 0 1em;
    padding: 0;
}

.publicidade {
    border: 1px solid #CCC;
    background: 1px solid #F5F5F5;
}